/* src/SubmitButton.css */
.submit-button {
    padding: 10px 20px; /* Inner padding for the button */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    text-decoration: none; /* Remove underline from link */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    display: inline-block; /* Align with text */
    transition: background-color 0.3s; 
    margin-left: 675px;
    margin-top: 30px;/* Smooth transition for hover effect */
  }
  
  .submit-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  